.container
  -if player.playing
    .controls{action "pause"}
      %i.fa.fa-pause
  -else
    .controls{action "play"}
      %i.fa.fa-play
  -link-to "episodes.show" player.episode
  %a.episode-info(href="#")
    %time=player.currentTime
    =player.title
    %time{ datetime=player.releaseDate }=player.releaseDate
.progress-bar{style=progressStyle}
  .playhead
