.container
  = play-pause-toggle play=(action 'play') pause=(action 'pause') bubbles=false

  %p.episode-info
    %time=player.currentTime
    =player.title
    %time{ datetime=player.releaseDate }=player.releaseDate
.buffer-bar{style=bufferStyle}
.progress-bar{style=progressStyle}
  = play-head dragging=draggingPlayhead position=playheadPosition
= track-bar drag=(action 'dragTrack') seekTo=(action 'seekTo') dragging=draggingPlayhead
