.container
  -if player.playing
    .controls{action "pause"}
      %i.fa.fa-pause
  -else
    .controls{action "play"}
      %i.fa.fa-play
  -link-to "episodes.show" player.episode class="episode-info"
    %time=player.currentTime
    =player.title
    %time{ datetime=player.releaseDate }=player.releaseDate
.buffer-bar{style=bufferStyle}
.progress-bar{style=progressStyle}
  = play-head dragging=draggingPlayhead position=playheadPosition
