.container
  -if playing
    %a.play(href="#"){action "pause"}
      .play-button
        =fa-icon "pause"
  -else
    %a.play(href="#"){action "play" episode}
      .play-button
        =fa-icon "play"
  %h1=title
  %p Episode #{number} &bull; #{releaseDate}
