-note-item time="00:20" episode=episode
  -link-to-site href="http://guides.emberjs.com/v1.11.0/"
    -external-title
      Ember.js Versioned Guides
  %p
    by
    -twitter-user username="trek"
      Trek Glowacki

-note-item time="01:38" episode=episode
  -link-to-site href="https://gist.github.com/code0100fun/6f87155564ccf3724749"
    -external-title
      Custom QUnit Assertions
  %p
    by
    -github-link username="code0100fun"
      Chase McCarthy

-note-item time="03:38" episode=episode
  -github-link username="samselikoff" repo="ember-cli-mirage"
    -external-title
      EmberCLI Mirage
  %p
    by
    -github-link username="samselikoff"
      Sam Selikoff

-note-item time="06:20" episode=episode
  -link-to-site href="https://gist.github.com/code0100fun/f5922b6f44eee2abc21d"
    -external-title
      Testing a Component with an Optional Block
  %p
    by
    -github-link username="code0100fun"
      Chase McCarthy

-note-item time="08:06" episode=episode
  -github-link username="kategengler" repo="ember-try"
    -external-title
      Ember Try
  %p
    by
    -github-link username="kategengler"
      Katie Gengler

-note-item time="11:03" episode=episode
  -link-to-site href="http://reefpoints.dockyard.com/2015/03/24/rubyists-guide-to-ember-dependencies.html"
    -external-title
      Rubyist Guide To Ember Dependencies
  %p
    by
    -twitter-user username="michaeldupuisjr"
      Michael Dupuis

