= guest-item name="Paul Elliott" guestInfoURL="https://twitter.com/p_elliott" avatarURL="assets/images/paul-elliott.jpg" tagLine="Lead Engineer on the Human Interface Team (HIT) at Heroku" bio="Paul is one of the engineers working on the Heroku Dashboard, which is an ember-cli app running on the Heroku platform. The team is distributed and does almost exclusively ember development, focusing on application architecture and new features."

-note-item time="00:14" episode=episode
  %h1 Introductions
  %p

-note-item time="01:50" episode=episode
  %h1 Tell us about Heroku
  %p

-note-item time="03:19" episode=episode
  %h1 No little Heroku icon...
  %p

-note-item time="04:04" episode=episode
  %h1 How long has Heroku been using Ember?
  %p

-note-item time="04:32" episode=episode
  %h1 Are you using Ember CLI?
  %p

-note-item time="04:46" episode=episode
  %h1 How has the upgrade process been?
  %p

-note-item time="05:57" episode=episode
  %h1 How are you testing the dashboard?
  %p

-note-item time="07:14" episode=episode
  %h1 Do you test drive?
  %p

-note-item time="08:02" episode=episode
  %h1 What back end are you using?
  %p

-note-item time="10:14" episode=episode
  %h1 How are you building your team?
  %p

-note-item time="12:45" episode=episode
  %h1 How do you interact with your backend team?
  %p

-note-item time="13:50" episode=episode
  %h1 Do you deploy to Heroku dynos?
  %p

-note-item time="14:25" episode=episode
  %h1 Do you deploy Dashboard through the Dashboard?
  %p

-note-item time="15:13" episode=episode
  %h1 Paul's thoughts on Ember, Glimmer, and Fastboot
  %p

-note-item time="15:59" episode=episode
  %h1 What are you excited about in the Ember community?
  %p

-note-item time="17:17" episode=episode
  %h1 Paul names the podcast
  %p

-note-item time="18:15" episode=episode
  %h1 Outro
  %p
