-note-item time="1:04" episode=episode
  -link-to-site href="https://github.com/Robdel12/ember-weekend/commit/1571a35b4829184f99a9d037304bef394cec6c77"
    -external-title
      Highlight current note-item WIP
  %p
    by
    -twitter-user username="robdel12"
      Robert DeLuca

-note-item time="4:25" episode=episode
  -link-to-site href="https://github.com/ember-weekend/ember-weekend/commit/5ed7d8a87ef170e02eeb008f409eed51244d7133"
    -external-title
      Wip EmberWeekend on Fastboot
  %p
    by Us

-note-item time="7:44" episode=episode
  -link-to-site href="http://emberweekend.herokuapp.com/episodes"
    -external-title
      Ember Weekend /w Fastboot deployed to heroku*
  %p
    by Us

-note-item time="9:24" episode=episode
  -link-to-site href="https://github.com/emberjs/rfcs/blob/ember-data-reference-unification/active/0000-ember-data-reference-unification.md"
    -external-title
      RFC: Ember Data reference unification
  %p
    by
    -twitter-user username="wycats"
      Yehuda Katz

-note-item time="11:21" episode=episode
  -link-to-site href="http://www.meetup.com/EmberJax/events/221300378/"
    -external-title
      EmberJax Meetup at the same time as JSconf (come see us)
  %p
    by #{twitter-user username="@ember_jax"}
