-note-item time="0:24" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html"
    -external-title
      Ember.js 1.13.0 and 2.0 Beta Released
  %p
    by
    -link-to-site href="http://emberjs.com/"
      Ember.js

-note-item time="0:42" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_new-features-in-ember-js-1-13"
    -external-title
      New Features in Ember 1.13
  %p
    by
    -link-to-site href="http://emberjs.com/"
      Ember.js

-note-item time="2:29" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_ember-2-0-beta"
    -external-title
      New Features in Ember 2.0.0-beta
  %p
    by
    -link-to-site href="http://emberjs.com/"
      Ember.js

-note-item time="3:40" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_notable-deprecations-in-1-13"
    -external-title
      Deprecations in Ember 1.13
  %p
    by
    -link-to-site href="http://emberjs.com/"
      Ember.js

-note-item time="4:23" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_notable-breaking-changes-in-ember-2-0"
    -external-title
      Deprecations &amp; Breaking Changes in 2.0.0-beta
  %p
    by
    -link-to-site href="http://emberjs.com/"
      Ember.js

-note-item time="5:58" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_note-angle-bracket-components"
    -external-title
      Angle Bracket Components in Ember 2.1
  %p
    by
    -link-to-site href="http://emberjs.com/"
      Ember.js

-note-item time="6:44" episode=episode
  -link-to-site href="http://wickedgoodember.com/"
    -external-title
      Wicked Good Ember - June 16th
  %p
    by
    -twitter-user username="WickedGoodEmber"
      WickedGoodEmber

-note-item time="7:20" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#mike-north"
    -external-title
      Compose all the things
  -link-to-site href="https://www.youtube.com/watch?v=7CmLV4NkbYE&index=1&list=PLoBp6PqNWJVW0biL08g2BP1R-myrwaTnK"
    -external-title
      Modern Web UI Talk
  %p
    by
    -twitter-user username="michaellnorth"
      Mike North

-note-item time="7:56" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#jay-phelps"
    -external-title
      Graffiti: The Coveted Universal Web Component Format
  -link-to-site href="https://www.youtube.com/watch?v=sNeK4Kplo9g&list=PLoBp6PqNWJVW0biL08g2BP1R-myrwaTnK&index=2"
    -external-title
      Modern Web UI Talk
  %p
    by
    -twitter-user username="_jayphelps"
      Jay Phelps

-note-item time="9:11" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#estelle-deblois"
    -external-title
      Build Better Desktop Apps with Ember
  %p
    by
    -twitter-user username="edeblois"
      Estelle DeBlois

-note-item time="9:36" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#adolfo-builes"
    -external-title
      Writing code to update our code
  %p
    by
    -twitter-user username="abuiles"
      Adolfo Builes

-note-item time="10:22" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#john-kleinschmidt"
    -external-title
      Taking Ember Offline
  %p
    by
    -twitter-user username="jkleinsc"
      John Kleinschmidt

-note-item time="10:57" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#nathan-hammond"
    -external-title
      Building for Accessibility
  %p
    by
    -twitter-user username="nathanhammond"
      Nathan Hammond

-note-item time="11:45" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#stefan-penner"
    -external-title
      The observer tip-jar
  %p
    by
    -twitter-user username="stefanpenner"
      Stefan Penner

-note-item time="12:25" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#igor-terzic"
    -external-title
      Ember Data 1.0 - it’s here
  %p
    by
    -twitter-user username="terzicigor"
      Igor Terzic

-note-item time="13:07" episode=episode
  -link-to-site href="http://wickedgoodember.com/speakers#chris-tse"
    -external-title
      Keynote
  -link-to-site href="https://vimeo.com/100662919"
    -external-title
      Card UI
  %p
    by
    -twitter-user username="christse"
      Chris Tse

-note-item time="13:39" episode=episode
  -link-to-site href="http://wickedgoodember.com/"
    -external-title
      See You in Boston!
  %p
    by
    -twitter-user username="emberweekend"
      Ember Weekend
