= guest-item name="Robert Jackson" guestInfoURL="https://twitter.com/rwjblue" avatarURL="assets/images/robert-jackson.jpg" tagLine="Ember core team  member and Frontend Developer at Aptible" bio="Robert is an Ember.js core team member, and general open source addict. Outside of Aptible, Robert enjoys spending time with his wife and two rambunctious boys. He is @rwjblue on the web."

= guest-item name="Dan McClain" guestInfoURL="https://twitter.com/_danmcclain" avatarURL="assets/images/dan-mcclain.jpg" tagLine="Dan is a partner and lead developer at DockYard." bio="He has been working on web applications for the past 7 years, starting with .Net, then later working with Rails. As of recent, DockYard has bet the company on Ember and Elixir, where Dan develops rich client applications for their clients."

-note-item time="2:48" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=vqmPVhZ__WI"
    -external-title
      Build Better Desktop Apps With Ember
  %p
    by
    -twitter-user username="edeblois"
      Estelle DeBois

-note-item time="5:33" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=ok9v9-Tcq0o"
    -external-title
      Building for Accessibility
  %p
    by
    -twitter-user username="nathanhammond"
      Nathan Hammond

-note-item time="9:59" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=MN7d1TZNvTg"
    -external-title
      The End of Single Page Apps
  %p
    by
    -twitter-user username="christse"
      Chris Tse

-note-item time="11:58" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=xlplXK6SBao"
    -external-title
      Ember Data 1.0 - It's here (and 1.13 and 2.0.0-beta.1)
  %p
    by
    -twitter-user username="terzicigor"
      Igor Terzic

-note-item time="14:39" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=XiBlT93H2aw"
    -external-title
      Writing code to update our code
  %p
    by
    -twitter-user username="abuiles"
      Adolfo Bouiles

-note-item time="16:30" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=IaFjXFuG7OY"
    -external-title
      Compose all the things
  %p
    by
    -twitter-user username="michaellnorth"
      Michael North

-note-item time="17:25" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=VhZS4n2DMyU"
    -external-title
      Taking Ember Offline
  %p
    by
    -twitter-user username="jkleinsc"
      John Kleinschmidt

-note-item time="17:59" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=vvZEddrClAQ"
    -external-title
      The Observer Tip-jar
  %p
    by
    -twitter-user username="stefanpenner"
      Stefan Penner

-note-item time="19:20" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=ywkDHUMICCc"
    -external-title
      Graffiti: The Coveted Universal Web Component Format
  %p
    by
    -twitter-user username="_jayphelps"
      Jay Phelps

-note-item time="21:13" episode=episode
  -link-to-site href="http://confreaks.tv/events/wickedgoodember2015"
    -external-title
      Wicked Good Ember 2015 on Confreaks
  %p
    by
    -twitter-user username="confreaks"
      Confreaks

-note-item time="21:37" episode=episode
  -link-to-site href="http://wickedgoodember.com/"
    -external-title
      See You All Next Year!
  %p
    by
    -twitter-user username="emberweekend"
      Ember Weekend
    &amp;
    -twitter-user username="LandOfEmber"
      Ember.land
