-note-item time="00:15" episode=episode
  -link-to-site href="https://github.com/dockyard/ember-suave"
    -external-title
      Ember Suave
  %p
    by
    -link-to-site href="https://twitter.com/DockYard"
      DockYard

-note-item time="02:56" episode=episode
  -link-to-site href="https://www.picatic.com/EmberSherpaWorkshop"
    -external-title
      Build An App In A Day With Ember 2.0
  %p
    by
    -link-to-site href="https://twitter.com/EmberSherpa"
      Ember Sherpa (Taras Mankovski)

-note-item time="04:15" episode=episode
  -link-to-site href="https://github.com/poteto/ember-metrics"
    -external-title
      Ember Metrics
  %p
    by
    -link-to-site href="https://twitter.com/sugarpirate_"
      Lauren Tan

-note-item time="06:19" episode=episode
  -link-to-site href="https://github.com/code0100fun/htmlbars-printer"
    -external-title
      HTMLBars Printer
  %p
    by
    -link-to-site href="https://twitter.com/code0100fun"
      Chase McCarthy
