= guest-item name="Sam Selikoff" guestInfoURL="https://twitter.com/samselikoff" avatarURL="assets/images/sam-selikoff.jpg" tagLine="Frontend Developer at TED" bio="I'm a front-end web developer at TED interested in JavaScript, data visualization and economics"

-note-item time="00:33" episode=episode
  %h1 Introductions
  %p

-note-item time="3:01" episode=episode
  %h1 How much does TED use Ember?
  %p

-note-item time="05:23" episode=episode
  %h1 Are you running Ember CLI? (at TED)
  %p

-note-item time="6:29" episode=episode
  %h1 Have you been able to keep the versions of Ember in use close to stable/beta/canary?
  %p

-note-item time="07:30" episode=episode
  %h1 Have you seen performance increases with 1.13 / 2.0 (Glimmer)
  %p

-note-item time="08:39" episode=episode
  %h1 How are you preparing to migrate to 2.0?
  %p

-note-item time="09:45" episode=episode
  %h1 What is your approach to testing both personally and at TED?
  %p

-note-item time="12:26" episode=episode
  %h1 How are you handling deployment?
  %p

-note-item time="12:33" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=QZVYP3cPcWQ"
    -external-title
      Lightning Fast Deployment of Your Rails-backed Javascript app
  %p
    by
    -twitter-user username="lukemelia"
      Luke Melia

-note-item time="14:04" episode=episode
  -link-to-site href="https://github.com/tedconf/ember-cli-front-end-builds"
    -external-title
      ember-cli-front-end-builds
  %p
    by
    -link-to-site href="https://github.com/tedconf/ember-cli-front-end-builds"
      Tedconf

-note-item time="14:04" episode=episode
  -link-to-site href="https://github.com/tedconf/front_end_builds"
    -external-title
      Frontend Builds (rails side)
  %p
    by
    -link-to-site href="https://github.com/tedconf/ember-cli-front-end-builds"
      Tedconf

-note-item time="16:52" episode=episode
  %h1 Is TED using any other frameworks? (besides Ember)
  %p

-note-item time="18:59" episode=episode
  %h1 Is TED currently hiring Ember devs?
  %p

-note-item time="19:40" episode=episode
  %h1 Could you tell us a bit about the Mirage project?
  %p

-note-item time="23:01" episode=episode
  %h1 Mirage as a tool to help onborading with Ember
  %p

-note-item time="24:28" episode=episode
  -link-to-site href="http://martinfowler.com/articles/consumerDrivenContracts.html"
    -external-title
      Consumer-Driven Contracts: A Service Evolution Pattern
  %p
    by
    -link-to-site href="https://twitter.com/iansrobinson"
      Ian robinson

-note-item time="24:41" episode=episode
  -link-to-site href="https://github.com/realestate-com-au/pact"
    -external-title
      Pact
  %p

-note-item time="28:43" episode=episode
  %h1 Mirage is becoming increasingly complex, are there plans on breaking Mirage up into smaller pieces?
  %p

-note-item time="34:55" episode=episode
  %h1 Do you have intentions on generating something like a Pact file to give to the server?
  %p

-note-item time="35:22" episode=episode
  -link-to-site href="http://www.poodr.com/"
    -external-title
      Practical Object-Oriented Design in Ruby
  %p
    by
    -link-to-site href="https://twitter.com/sandimetz"
      Sandi Metz

-note-item time="46:43" episode=episode
  %h1 What is the path forward for Mirage?
  %p

-note-item time="49:25" episode=episode
  %h1 How can the community help contribute to Mirage?
  %p

-note-item time="50:47" episode=episode
  %h1 Do you plan to support multiple hosts in Mirage?
  %p

-note-item time="54:14" episode=episode
  %h1 What do you think are some of the strengths of the Ember community?
  %p

-note-item time="55:36" episode=episode
  %h1 What is an area that the Ember community can improve?
  %p
