-note-item time="00:12" episode=episode
  -link-to-site href="https://github.com/emberjax/cast"
    -external-title
      EmberJax Cast
  %p
    by
    -link-to-site href="https://twitter.com/DockYar://twitter.com/code0100fun"
      Chase McCarthy

-note-item time="09:37" episode=episode
  -link-to-site href="http://alisdair.mcdiarmid.org/2015/06/20/ember-component-integration-tests.html"
    -external-title
      Ember component integration tests
  %p
    by
    -link-to-site href="https://twitter.com/alisdair"
      Alisdair McDiarmid

-note-item time="15:49" episode=episode
  -link-to-site href="http://ember-twiddle.com/"
    -external-title
      Ember Twiddle
  %p
    by
    -link-to-site href="https://twitter.com/joostdvrs"
      Joost de Vries

-note-item time="21:35" episode=episode
  -link-to-site href="https://github.com/emberjs/core-notes"
    -external-title
      core-notes
  %p
    by
    -link-to-site href="http://emberjs.com/team/"
      Ember.js
