= guest-item name="Mike North" guestInfoURL="https://twitter.com/michaellnorth" avatarURL="assets/images/mike-north.jpg" tagLine="Principal Software Engineer at Yahoo" bio="UI lead for Yahoo Ad Manager Plus, our Demand Side Platform and flagship ad product. A driving force in the adoption of modern web frameworks across Yahoo"

-note-item time="01:35" episode=episode
  %h1 Were you using Ember before EmberCLI?
  %p

-note-item time="02:20" episode=episode
  %h1 How are you incorporating Web Components into Yahoo's Ad Platform?
  %p

-note-item time="03:18" episode=episode
  %h1 What are some of the hurdles for using Web Components at the moment?
  %p

-note-item time="05:07" episode=episode
  %h1 Did Yahoo influence the Addon story?
  %p

-note-item time="06:04" episode=episode
  %h1 What ES6 feature are you most excited about, and how is it influencing how you build Ember apps?
  %p

-note-item time="07:08" episode=episode
  %h1 WRT testing, do you find yourself using generators to help onboard new developers?
  %p

-note-item time="10:21" episode=episode
  %h1 Have you seen any benchmarkable benefits from Glimmer?
  %p

-note-item time="12:12" episode=episode
  %h1 Are you planning for the upcoming changes in Ember? (like 1-way binding default)
  %p

-note-item time="13:01" episode=episode
  %h1 How are you simulating routeable components before 2.1?
  %p

-note-item time="14:31" episode=episode
  %h1 What is the deployment story within Yahoo?
  %p

-note-item time="16:25" episode=episode
  %h1 How do you bridge the divide between your frontend and backend teams?
  %p

-note-item time="18:11" episode=episode
  %h1 What kind of skills are you looking for in your team members?
  %p

-note-item time="19:40" episode=episode
  %h1 How do you onboard new hires?
  %p

-note-item time="20:53" episode=episode
  %h1 Could you tell us about Modern Web UI?
  %p

-note-item time="23:21" episode=episode
  %h1 What are a few of the things we could learn from other framework communities?
  %p

-note-item time="25:33" episode=episode
  %h1 What could a React or Angular developer take away from the Ember ecosystem?
  %p

-note-item time="26:54" episode=episode
  %h1 Could you explain the difference between ember-cli-materialize and ember-materialize-lite?
  %p

-note-item time="31:03" episode=episode
  %h1 Would you like to name the episode?
  %p
