-note-item time="0:10" episode=episode
  -link-to-site href="https://github.com/emberjs/guides/issues/483"
    -external-title
      Remove JSbin Issue (corrections)
  %p
    by
    -link-to-site href="https://twitter.com/michaelrkn"
      Michael Kaiser-Nyman

-note-item time="2:11" episode=episode
  -link-to-site href="https://github.com/pretenderjs/pretender"
    -external-title
      Pretender
  %p
    by
    -link-to-site href="https://twitter.com/trek"
      Trek Glowacki

-note-item time="2:11" episode=episode
  -link-to-site href="https://github.com/pretenderjs/pretender/pull/66"
    -external-title
      Host Support in Pretender
  %p
    by
    -link-to-site href="https://twitter.com/michaellnorth"
      Mike North

-note-item time="7:25" episode=episode
  -link-to-site href="https://github.com/mixonic/ember-cli-deprecation-workflow"
    -external-title
      Ember CLI Deprecation Workflow (addon)
  %p
    by
    -link-to-site href="https://twitter.com/rwjblue"
      Robert Jackson
    and
    -link-to-site href="https://twitter.com/mixonic"
      Mathew Beale

-note-item time="11:26" episode=episode
  -link-to-site href="https://twitter.com/emberjs/status/630808632641388544"
    -external-title
      Missing Deprecations Call to Arms
  %p
    by
    -link-to-site href="https://twitter.com/emberjs"
      Ember.js

-note-item time="13:25" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/08/13/ember-2-0-released.html"
    -external-title
      Ember 2.0 released!
  %p
    by
    -link-to-site href="https://twitter.com/emberjs"
      Ember.js
