-note-item time="00:16" episode=episode
  -link-to-site href="https://github.com/switchfly/ember-test-helpers/pull/96"
    -external-title
      Allow overriding services/factories in the registry
  %p
    by
    -link-to-site href="https://twitter.com/rwjblue"
      Robert Jackson

-note-item time="03:30" episode=episode
  %h1 Let's talk about testing!
  %p

-note-item time="05:31" episode=episode
  %h1 Acceptance tests
  %p

-note-item time="09:20" episode=episode
  %h1 Integration tests
  %p

-note-item time="14:36" episode=episode
  %h1 Unit tests
  %p

-note-item time="20:39" episode=episode
  %h1 The goal of tests are different
  %p

-note-item time="22:14" episode=episode
  %h1 Recap (a possibly bad metaphor ^_^)
  %p

-note-item time="24:06" episode=episode
  -link-to-site href="https://www.destroyallsoftware.com/screencasts"
    -external-title
      Destroy All Software
  %p
    by
    -link-to-site href="https://twitter.com/garybernhardt"
      Gary Bernhardt
