-note-item time="00:33" episode=episode
  %h1 Prevent v8 optimization with eval()
  %p

-note-item time="02:42" episode=episode
  %h1 Prevent optional npm install dependencies with --no-option
  %p

-note-item time="04:05" episode=episode
  %h1 HTMLBars log helper and set as global variable
  %p

-note-item time="05:23" episode=episode
  %h1 cmd+p fuzzy finder in Chrome devtools
  %p

-note-item time="06:26" episode=episode
  %h1 Chrome snippets
  %p

-note-item time="08:15" episode=episode
  %h1 Monosnap (screenshot / screencast tool)
  %p

-note-item time="09:36" episode=episode
  %h1 Ember Testing - hidepassed, rerun, and ember test filters
  %p

-note-item time="10:55" episode=episode
  %h1 $E (buck E) and the Ember Inspector
  %p

-note-item time="11:28" episode=episode
  %h1 RSVP.on('error')
  %p

-note-item time="13:44" episode=episode
  %h1 Rwjblue's PR technique
  %p
