-note-item time="00:31" episode=episode
  -link-to-site href="http://emberjs.com/api/data/classes/DS.Adapter.html"
    -external-title
      Ember Data Adapter
  %p
    from
    -link-to-site href="http://guides.emberjs.com/v2.0.0/"
      Ember.js Guides
-note-item time="00:31" episode=episode
  -link-to-site href="http://emberjs.com/api/data/classes/DS.Serializer.html"
    -external-title
      Ember Data Serializer
  %p
    from
    -link-to-site href="http://guides.emberjs.com/v2.0.0/"
      Ember.js Guides

-note-item time="02:50" episode=episode
  -link-to-site href="https://github.com/emberjs/data/blob/v2.0.0/packages/ember-data/lib/serializers/json-serializer.js#L220"
    -external-title
      JSON Serializer Normalize Response
  %p
    from
    -link-to-site href="https://github.com/emberjs/data"
      Ember Data Source

-note-item time="03:37" episode=episode
  -link-to-site href="https://youtu.be/PXB93Z8azZE?list=PLE7tQUdRKcyacwiUPs0CjPYt6tJub4xXU"
    -external-title
      Hijacking Hacker News
  %p
    by
    -link-to-site href="https://twitter.com/chancancode"
      Godfrey Chan

-note-item time="05:02" episode=episode
  -link-to-site href="http://jsonapi.org/"
    -external-title
      JSON API
  %p
    by
    -link-to-site href="http://jsonapi.org/"
      jsonapi.org

-note-item time="05:11" episode=episode
  -link-to-site href="https://github.com/emberjs/data/blob/v2.0.0/packages/ember-data/lib/serializers/json-serializer.js#L425"
    -external-title
      JSON Serizlizer _normalizeResponse
  %p
    from
    -link-to-site href="https://github.com/emberjs/data"
      Ember Data Source

-note-item time="07:01" episode=episode
  -link-to-site href="https://frontsidethepodcast.simplecast.fm/28"
    -external-title
      Open Source, UX, and Ember with Trek Glowacki
  %p
    by
    -link-to-site href="https://frontsidethepodcast.simplecast.fm/"
      Frontside the Podcast

-note-item time="07:01" episode=episode
  -link-to-site href="https://frontsidethepodcast.simplecast.fm/29"
    -external-title
      Ember &amp; "Big OSS" with Robert Jackson
  %p
    by
    -link-to-site href="https://frontsidethepodcast.simplecast.fm/"
      Frontside the Podcast

-note-item time="07:33" episode=episode
  -link-to-site href="https://github.com/emberjs/guides/issues/639"
    -external-title
      Improve Guides organization #639
  %p
    by
    -link-to-site href="https://twitter.com/trek"
      Trek Glowacki

-note-item time="09:11" episode=episode
  -link-to-site href="http://balinterdi.com/2015/08/29/how-to-do-a-select-dropdown-in-ember-20.html"
    -external-title
      How to Do a Select (Dropdown) in Ember 2.0?
  %p
    by
    -link-to-site href="https://twitter.com/baaz"
      Balint Erdi

-note-item time="11:02" episode=episode
  -link-to-site href="https://github.com/mixonic/ember-community-versions"
    -external-title
      Ember Community Versions Badge
  %p
    by
    -link-to-site href="https://twitter.com/mixonic"
      Matthew Beale
    aka mixonic
