-note-item time="00:25" episode=episode
  -link-to-site href="http://reactive.audio/"
    -external-title
      Reactive Podcast
  %p
    by
    -link-to-site href="https://twitter.com/tinymodules"
      Kahlil Lechelt
    ,
    -link-to-site href="https://twitter.com/rockbot"
      Raquel Vélez
    ,
    -link-to-site href="https://twitter.com/hglattergotz"
      Henning Glatter-Götz

-note-item time="00:56" episode=episode
  -link-to-site href="http://www.meetup.com/Global-Ember-Meetup/events/224633843/"
    -external-title
      Ember Global Meetup
  %p
    from
    -link-to-site href="https://twitter.com/EmberSherpa"
      Taras Mankovski (EmberSherpa)

-note-item time="00:56" episode=episode
  -link-to-site href="http://emberup.co/"
    -external-title
      Ember Up
  %p
    from
    -link-to-site href="https://twitter.com/bdvholmes"
      Ben Holmes

-note-item time="00:56" episode=episode
  -link-to-site href="http://emberup.co/bindings-with-htmlbars-helpers/"
    -external-title
      Use helpers to remove two-way bindings
  %p
    from
    -link-to-site href="https://twitter.com/bdvholmes"
      Ben Holmes

-note-item time="05:08" episode=episode
  -link-to-site href="https://github.com/taras/ember-crud-example"
    -external-title
      Glimmerland CRUD
  %p
    from
    -link-to-site href="https://twitter.com/EmberSherpa"
      Taras Mankovski (EmberSherpa)

-note-item time="13:15" episode=episode
  -link-to-site href="https://github.com/yapplabs/ember-strong-attrs"
    -external-title
      ember-strong-attrs
  %p
    from
    -link-to-site href="https://github.com/yapplabs"
      YappLabs

-note-item time="14:39" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=LsUSurw6sg4"
    -external-title
      Angle Bracket Components Sneak Peak
  %p
    from
    -link-to-site href="https://twitter.com/wycats"
      Yehuda Katz
    ,
    -link-to-site href="https://twitter.com/chancancode"
      Godfrey Chan

