-note-item time="00:00" episode=episode
  -link-to-site href="http://emberjs.com/api/classes/Ember.ArrayProxy.html"
    -external-title
      Correction: ArrayProxy is not deprecated
  %p
    by
    -link-to-site href="https://twitter.com/toranb/status/644126055054245889"
      Toran Billups

-note-item time="02:11" episode=episode
  -link-to-site href="https://github.com/poetic/ember-cli-cordova"
    -external-title
      ember-cli-cordova
  %p
    by
    -link-to-site href="http://poeticsystems.com/"
      Poetic

-note-item time="04:34" episode=episode
  -link-to-site href="https://github.com/ebryn/ember-ionic"
    -external-title
      ember-ionic
  %p
    by
    -link-to-site href="https://github.com/ebryn"
      Erik Bryn

-note-item time="07:45" episode=episode
  -link-to-site href="http://stackoverflow.com/questions/30282377/how-can-i-yield-multiple-pieces-of-content-into-an-ember-js-component-template/30282378#30282378"
    -external-title
      Multiple Yields in Emebr Templates
  %p
    by
    -link-to-site href="http://stackoverflow.com/users/237150/aceofspades"
      Doug Puchalski

-note-item time="10:11" episode=episode
  -link-to-site href="https://github.com/emberjs/ember-collection"
    -external-title
      ember-collection
  %p
    by
    -link-to-site href="http://emberjs.com/"
      Ember.js

-note-item time="14:53" episode=episode
  -link-to-site href="http://blog.codeship.com/how-to-write-smoke-tests-for-an-ember-rails-stack"
    -external-title
      How to Write Smoke Tests for an Ember Rails Stack
  %p
    by
    -link-to-site href="https://github.com/mwoods79"
      Micah Woods

-note-item time="15:44" episode=episode
  -link-to-site href="https://github.com/mwoods79/exhaust"
    -external-title
      Exhaust
  %p
    by
    -link-to-site href="https://github.com/mwoods79"
      Micah Woods
