= guest-item name="Robert Deluca" guestInfoURL="https://twitter.com/robdel12" avatarURL="assets/images/robert-deluca.jpg" tagLine="JavaScript Developer at The Frontside" bio="Robert is a JavaScript developer at The Frontside in Austin, Texas. He’s a full-time Ember developer and has a personal dedication to accessibility on the web."

-note-item time="1:26" episode=episode
  -link-to-site href="http://2015.jsconf.us/"
    -external-title
      JSConf 2015

-note-item time="2:34" episode=episode
  -link-to-site href="http://2015.jsconf.us/speakers.html#de%20albuquerque"
    -external-title
      Accessibility and JS: side-by-side
  %p
    by
    -twitter-user username="felipedeolinda"
      Felipe de Albuquerque

-note-item time="5:30" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=VYrMs1Zzpqs"
    -external-title
      Ember-cli In-Repo Addons with Jacob Bixby
  %p
    by
    -twitter-user username="jakebixby"
      Jacob Bixby

-note-item time="7:48" episode=episode
  -link-to-site href="https://github.com/jamesarosen/ember-i18n/commits/v4-alpha"
    -external-title
      v4 alpha - Ember I18N
  %p
    by
    -twitter-user username="jamesarosen"
      James A Rosen

-note-item time="9:21" episode=episode
  -link-to-site href="https://github.com/dockyard/ember-cli-i18n/issues/56"
    -external-title
      Collaborate with ember-i18n
  %p
    by
    -twitter-user username="wagenet"
      Peter Wagenet

-note-item time="9:43" episode=episode
  -link-to-site href="https://www.youtube.com/watch?v=ASxwoyg40L4"
    -external-title
      Ember.js: An antidote to your hype fatigue
  %p
    by
    -twitter-user username="chancancode"
      Godfrey Chan

-note-item time="13:33" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/05/24/another-two-oh-status-update.html"
    -external-title
      Another Ember 2.X Status Update
  %p
    by
    -twitter-user username="wycats"
      Yehuda Katz

-note-item time="16:14" episode=episode
  %h1 Robert names the episode
  %p
