-note-item time="0:57" episode=episode
  -link-to-site href="http://www.meetup.com/EmberJax/"
    -external-title
      EmberJax
  %p
    by Us

-note-item time="2:24" episode=episode
  -link-to-site href="http://www.prototypal.io/chicago-ember-training/"
    -external-title
      Ember Training (Chicago)
  %p
    by
    -link-to-site href="https://twitter.com/ebryn"
      Erik Bryn

-note-item time="3:45" episode=episode
  -link-to-site href="https://gist.github.com/staltz/868e7e9bc2a7b8c1f754"
    -external-title
      The Introduction to Reactive Programming you've been missing
  %p
    by
    -link-to-site href="https://twitter.com/andrestaltz"
      Andre Staltz

-note-item time="07:20" episode=episode
  -link-to-site href="http://emberjs.jsbin.com/bexona/edit?js,output"
    -external-title
      Ember.Evented (Gist)
  %p
    by
    -link-to-site href="https://twitter.com/rondale-sc"
      Jonathan Jackson

-note-item time="10:46" episode=episode
  -link-to-site href="https://github.com/code0100fun/htmlbars-printer"
    -external-title
      HTMLBar Printer
  %p
    by
    -link-to-site href="https://twitter.com/code0100fun"
      Chase McCarthy

-note-item time="15:24" episode=episode
  -link-to-site href="http://blog.codeclimate.com/blog/2015/06/19/code-climate-platform/"
    -external-title
      Code Climate Ember Support
  %p
    by
    -link-to-site href="https://twitter.com/codeclimate"
      Code Climate

-note-item time="15:59" episode=episode
  -link-to-site href="https://twitter.com/emberweekend"
    -external-title
      T-shirt give away
  %p
    selecting one lucky retweeters of this episode ^_^
