-note-item time="2:28" episode=episode
  %h1
    Services are soft globals

-note-item time="4:23" episode=episode
  %h1
    Components are coming!

-note-item time="5:55" episode=episode
  %h1
    Simulating Routable Components

-note-item time="7:46" episode=episode
  %h1
    Logging from templates

-note-item time="8:24" episode=episode
  %h1
    Active Generation

-note-item time="9:17" episode=episode
  -link-to-site href="http://emberjs.com/api/classes/Ember.Test.html#method_pauseTest"
    -external-title
      Pausing tests

-note-item time="10:39" episode=episode
  %h1
    Use of modelFor

-note-item time="12:08" episode=episode
  -link-to-site href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment"
    -external-title
      ES6 Destructuring

-note-item time="13:27" episode=episode
  %h1
    transitionTo vs replaceWith

-note-item time="15:13" episode=episode
  %h1
    Routing service WIP ('-routing')

-note-item time="17:11" episode=episode
  %h1
    Hoisting data

-note-item time="18:14" episode=episode
  -link-to-site href="https://github.com/ember-cli/ember-cli/blob/master/ADDON_HOOKS.md#isdevelopingaddon"
    -external-title
      isDevelopingAddon

-note-item time="19:31" episode=episode
  -link-to-site href="https://github.com/broccolijs/broccoli/issues/271"
    -external-title
      Feature requests for plugin API
  %p
    by
    -link-to-site href="https://twitter.com/jo_liss"
      Jo Liss

-note-item time="20:58" episode=episode
  -link-to-site href="https://github.com/emberjs/ember.js/pull/11667"
    -external-title
      [BUGFIX release] Fix Glimmer memory leak
  %p
    by
    -link-to-site href="https://twitter.com/tomdale"
      Tom Dale

-note-item time="21:53" episode=episode
  -link-to-site href=""
    -external-title
      Words of wisdom
  %p
    by
    -link-to-site href="https://twitter.com/ebryn"
      Erik Bryn
