-note-item time="1:15"
  -link-to-site href="http://hashrocket.com/blog/posts/broccoli-the-build-tool-not-the-vegetable"
    -external-title
      Broccoli: The Build Tool, Not the Vegetable
  %p
    by
    -twitter-user username="code0100fun"
      Chase McCarthy

-note-item time="2:58"
  -link-to-site href="https://github.com/emberjs/rfcs/pull/45"
    -external-title
      Solicit feedback about IE8 and IE9 support in Ember
  %p
    by
    -github-link username="wycats"
      Yehuda Katz

-note-item time="6:29"
  -link-to-site href="https://www.youtube.com/watch?v=pl3qRS0Iky4"
    -external-title
      Ember at Netflix
  %p
    -twitter-user username="BenLesh"
      Ben Lesh

-note-item time="8:46"
  -link-to-site href="http://www.programwitherik.com/how-to-add-polymer-to-your-ember-project/"
    -external-title
      How To Add Polymer To Your Ember Project
  %p
    by
    -twitter-user username="erikch"
      Erik Hanchett

-note-item time="8:46"
  -github-link username='rondale-sc' repo='poc-ember-cli-polymer'
    -external-title
      Proof of Concept polymer addon
  %p
    by
    -twitter-user username="rondale_sc"
      Jonathan Jackson

-note-item time="12:23"
  -link-to-site href="https://docs.google.com/forms/d/1zGg54pgUO8aaylWAymX1V3OjKsLSGYmsEza755Y1-3A/viewform"
    -external-title
      Erik Bryn: Ember 2.0 Training
  %p
    by
    -twitter-user username="ebryn"
      Erik Bryn
