{{#animated-value "episode-index" initialInsertion=true finalRemoval=true duration=500 use=transition}}
  <div class="overflow-y-auto h-full">
    <div class="md:mx-auto md:w-4/5 lg:w-3/5">
      <ul class="md:flex md:flex-wrap md:justify-between md:mt-4">
        {{#each model as |episode|}}
          {{#animated-container class="md:w-49-p md:mb-4"}}
            {{#animated-value episode.slug duration=750}}
              {{episode-item data-prember-episode data-test-episode-list-item episode=episode}}
            {{/animated-value}}
          {{/animated-container}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/animated-value}}