-note-item time="0:15"
  -link-to-site href="https://www.youtube.com/watch?v=8GMeMM0ukYM"
    -external-title
      Ember.js 1.11 Workshop
  %p
    by #{twitter-user username="EmberSherpa"}

-note-item time="0:50"
  -github-link username="code0100fun" repo="emberjax-chat"
    -external-title
      EmberJax Chat
  %p
    by
    -github-link username="code0100fun"
      Chase McCarthy

-note-item time="2:41"
  -link-to-site href="https://babeljs.io/docs/learn-es6/"
    -external-title
      Babel: Learn ES6
  %p
    by
    -github-link username="sebmck"
      Sebastian McKenzie

-note-item time="3:58"
  -link-to-site href="http://emberobserver.com"
    -external-title
      Ember Observer
  %p
    by
    -link-to-site href="http://www.codeallday.com"
      Katie Gengler
    ,
    -link-to-site href="http://www.louissimons.com"
      Louis Simons
    , and
    -link-to-site href="http://www.pgengler.net"
      Phil Gengler

-note-item time="5:41"
  -github-link username="rondale-sc" repo="introductory-ember-resources"
    -external-title
      Introductory Ember Resources
  %p
    by #{twitter-user username="rondale_sc" displayName="Jonathan Jackson"}

-note-item time="7:55"
  -link-to-site href="https://www.youtube.com/watch?v=xsG0gDkvDPw"
    -external-title
      Growing Ember: One Tomster at a Time
  %p
    by
    -github-link username="jgwhite"
      Jamie White
