-note-item time="" episode=episode
  -link-to-site href="http://www.meetup.com/EmberJax/"
    -external-title
      EmberJax
  %p
    by Us

-note-item time="" episode=episode
  -link-to-site href="http://www.prototypal.io/chicago-ember-training/"
    -external-title
      Ember Training (Chicago)
  %p
    by
    -link-to-site href="https://twitter.com/ebryn"
      Erik Bryn

-note-item time="" episode=episode
  -link-to-site href="https://gist.github.com/staltz/868e7e9bc2a7b8c1f754"
    -external-title
      The Introduction to Reactive Programming you've been missing
  %p
    by
    -link-to-site href="https://twitter.com/andrestaltz"
      Andre Staltz

-note-item time="" episode=episode
  -link-to-site href=""
    -external-title
      Ember.Evented (Gist)
  %p
    by
    -link-to-site href="https://twitter.com/rondale-sc"
      Jonathan Jackson

-note-item time="" episode=episode
  -link-to-site href="https://github.com/code0100fun/htmlbars-printer"
    -external-title
      HTMLBar Printer
  %p
    by
    -link-to-site href="https://twitter.com/code0100fun"
      Chase McCarthy

-note-item time="" episode=episode
  -link-to-site href="http://blog.codeclimate.com/blog/2015/06/19/code-climate-platform/"
    -external-title
      Code Climate Ember Support
  %p
    by
    -link-to-site href="https://twitter.com/code0100fun"
      Code Climate

-note-item time="" episode=episode
  -link-to-site href="https://twitter.com/emberweekend"
    -external-title
      T-shirt give away
  %p
    (selecting one lucky (at random) retweeters of this episode ^_^)
