-note-item time="" episode=episode
  -link-to-site href="https://leanpub.com/exploring-es6/read"
    -external-title
      Exploring ES6
  %p
    by
    -link-to-site href="https://twitter.com/rauschma"
      Axel Rauschmayer

-note-item time="" episode=episode
  -link-to-site href="https://gist.github.com/rwjblue/8816372"
    -external-title
      Robert Jackson's JSBin collection
  %p
    by
    -link-to-site href="https://twitter.com/rwjblue"
      Robert Jackson

-note-item time="" episode=episode
  -link-to-site href="https://github.com/lukehoban/es6features"
    -external-title
      ES6 Features
  %p
    by
    -link-to-site href="https://twitter.com/lukehoban"
      Luke Hoban

-note-item time="" episode=episode
  -link-to-site href="https://www.emberscreencasts.com/"
    -external-title
      Ember Screencasts
  %p
    by
    -link-to-site href="https://twitter.com/jeffreybiles"
      Jeffrey Biles

-note-item time="" episode=episode
  -link-to-site href="http://www.buildlab.co/"
    -external-title
      Build Lab
  %p
    by
    -link-to-site href="https://twitter.com/validkeys"
      Kyle Davis

-note-item time="" episode=episode
  -link-to-site href="http://es6katas.org/"
    -external-title
      ES6 Katas
  %p
    by
    -link-to-site href="http://www.uxebu.com/"
      Uxebu

-note-item time="" episode=episode
  -link-to-site href="http://emberweekly.com/"
    -external-title
      Ember Weekly
  %p
    by
    -link-to-site href="https://twitter.com/owz"
      Owen Williams

-note-item time="" episode=episode
  -link-to-site href="https://leanpub.com/ember-cli-101"
    -external-title
      EmberCLI 101
  %p
    by
    -link-to-site href="https://twitter.com/abuiles"
      Adolfo Builes

-note-item time="" episode=episode
  -link-to-site href="http://fromrailstoember.com/"
    -external-title
      From Rails To Ember
  %p
    by
    -link-to-site href="https://twitter.com/cball_"
      Chris Ball

-note-item time="" episode=episode
  -link-to-site href="http://emberobserver.com"
    -external-title
      Ember Observer
  %p
    by
    -link-to-site href="http://www.codeallday.com"
      Katie Gengler
    ,
    -link-to-site href="http://www.louissimons.com"
      Louis Simons
    , and
    -link-to-site href="http://www.pgengler.net"
      Phil Gengler

-note-item time="" episode=episode
  -link-to-site href="http://www.emberaddons.com/"
    -external-title
      Ember Addons
  %p
    by
    -link-to-site href="https://twitter.com/gcollazo"
      Giovanni Collazo
