-episode-show episode=episode
  -note-list
    -each episode.guests as |guest|
      = guest-item name=guest.name guestInfoURL=guest.guestInfoURL avatarURL=guest.avatarURL tagLine=guest.tagline bio=guest.bio

    -each showNotes as |note|
      -note-item time=note.timeStamp episode=episode
        -if note.resource.url
          -link-to-site href=note.resource.url
            -external-title
              =note.resource.title
        -else
          %h1
            =note.resource.title
        %p
          -each note.resource.authors as |author|
            by
            -if author.url
              -link-to-site href=author.url
                = author.name
            -else
              = author.name
