-note-item time="0:11" episode=episode
  -link-to-site href="https://gist.github.com/code0100fun/f9b99b2a562702683602"
    -external-title
      Ember Simple AUth + Ember CLI Mirage
  %p
    by
    -twitter-user username="code0100fun"
      Chase McCarthy

-note-item time="4:09" episode=episode
  -link-to-site href="https://gist.github.com/code0100fun/87dc9d1a901d4fa444e3"
    -external-title
      Ember CLI QUnit text content helpers
  %p
    by
    -twitter-user username="code0100fun"
      Chase McCarthy

-note-item time="9:22" episode=episode
  -link-to-site href="https://github.com/emberjs/ember.js/pull/11359"
    -external-title
      Ember RFC #60 Component Unification
  %p
    by
    -twitter-user username="tomdale"
      Tom Dale

-note-item time="11:35" episode=episode
  -link-to-site href="https://medium.com/delightful-ui-for-ember-apps/declarative-breadcrumb-navigation-in-ember-js-5908a92a5de3"
    -external-title
      Declarative Breadcrumb Navigation in Ember.js
  %p
    by
    -twitter-user username="sugarpirate_"
      Lauren Tan

-note-item time="13:17" episode=episode
  -link-to-site href="http://emberjs.jsbin.com/nuwusazaku/2/edit?html,js,output"
    -external-title
      Child component target
  %p
    by
    -twitter-user username="rondale_sc"
      Jonathan Jackson

-note-item time="16:34" episode=episode
  -link-to-site href="http://emberjs.com/tomster/"
    -external-title
      Ember.js Tomsters
  %p
    by
    -twitter-user username="lindsey_io"
      Lindsey Wilson

-note-item time="17:10" episode=episode
  -link-to-site href="http://www.meetup.com/EmberJax/events/221300378/"
    -external-title
      EmberJax builds a blog (cont.)
  %p
    by
    -twitter-user username="ember_jax"
      EmberJax

-note-item time="17:39" episode=episode
  -link-to-site href="https://twitter.com/emberweekend"
    -external-title
      Follow us on Twitter
  %p
    by
    -twitter-user username="emberweekend"
      Ember Weekend

-note-item time="18:06" episode=episode
  -link-to-site href="http://wickedgoodember.com/"
    -external-title
      Wicked Good Ember - June 16th
  %p
    by
    -twitter-user username="wickedgoodember"
      Wicked Good Ember
