-note-item time="00:09" episode=episode
  -link-to-site href="https://twitter.com/emberweekend"
    -external-title
      Ember Weekend New Logo Candidate
  %p
    by Us

-note-item time="01:51" episode=episode
  -link-to-site href="https://github.com/ember-weekend/ember-weekend/commit/4bb423ea50602b15336aa3be5965f0180b546c6a"
    -external-title
      Mocking Services in Acceptance Tests
  %p
    by Us

-note-item time="05:28" episode=episode
  -link-to-site href="http://emberjs.com/blog/2015/05/05/glimmer-merging.html"
    -external-title
      Glimmer's in Canary!
  %p
    by #{twitter-user username="emberjs" displayName="Ember.js"}

-note-item time="07:25" episode=episode
  -link-to-site href="https://github.com/tildeio/ember-cli-fastboot"
    -external-title
      Ember FastBoost
  %p
    by #{github-link username="tildeio"}

-note-item time="11:22" episode=episode
  -link-to-site href="http://www.meetup.com/Silicon-Valley-EmberJS-Meetup/events/221411450/"
    -external-title
      April Silicon Valley Ember.js Meetup
  %p
    with
    - github-link username="ebryn"
      Erik Bryn
    and
    - github-link username="ef4"
      Edward Faulkner
