= episode-header episode=this

-note-list
  -note-item
    -link-to-site href="https://github.com/emberjax/ember-weekend"
      Ember Weekend Site Redesign WIP
    %span
      by #{twitter-user username="ryenotbread" displayName="Rye Mason"}

  -note-item
    -link-to-site href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML5_audio_and_video#Controlling_media_playback"
      Web Audio API

  -note-item
    -link-to-site href="http://wickedgoodember.com/"
      Wicked Good Ember
    dorms on sale

  -note-item
    -github-link username='dockyard' repo='ember-in-viewport'
      Ember in Viewport
    by
    =twitter-user username="sugarpirate_" displayName="Lauren Tan"

  -note-item
    -link-to-site href="http://emberjs.com/blog/2015/04/14/security-and-bugfix-releases-ember-1-10-1-1-11-2-1-11-3.html"
      Ember.js select view security fix

  -note-item
    -link-to-site href="http://www.peterfessel.com/2015/04/a-brief-history-of-time-the-ember-run-loop-in-short/"
      A Brief History of Time: The Ember Run Loop in short
    by
    -link-to-site href="http://www.peterfessel.com/"
      Peter Fessel

  -note-item
    -github-link username="mitchlloyd" repo="ember-islands"
      Ember Islands
    by
    -github-link username="mitchlloyd"
      Mitch Lloyd
