= episode-header episode=this

-note-list
  -note-item
    -link-to-site href="http://hashrocket.com/blog/posts/broccoli-the-build-tool-not-the-vegetable"
      Broccoli: The Build Tool, Not the Vegetable
    %span
      by #{twitter-user username="code0100fun"}
