- episode-show episode=model

  -note-list

    -note-item time="0:01"
      -link-to-site href="https://github.com/emberjax/ember-weekend"
        -external-title
          Ember Weekend Site Redesign WIP
      %p
        by #{twitter-user username="ryenotbread" displayName="Rye Mason"}

    -note-item time="0:15"
      -link-to-site href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML5_audio_and_video#Controlling_media_playback"
        -external-title
          Web Audio API

    -note-item time="3:08"
      -link-to-site href="http://wickedgoodember.com/"
        -external-title
          Wicked Good Ember
      %p
        dorms on sale

    -note-item time="4:05"
      -github-link username='dockyard' repo='ember-in-viewport'
        -external-title
          Ember in Viewport
      %p
        by
        =twitter-user username="sugarpirate_" displayName="Lauren Tan"

    -note-item time="5:57"
      -link-to-site href="http://emberjs.com/blog/2015/04/14/security-and-bugfix-releases-ember-1-10-1-1-11-2-1-11-3.html"
        -external-title
          Ember.js select view security fix
      %p
        by
        -link-to-site href="http://www.emberjs.com/"
          Ember.js


    -note-item time="8:06"
      -link-to-site href="http://www.peterfessel.com/2015/04/a-brief-history-of-time-the-ember-run-loop-in-short/"
        -external-title
          A Brief History of Time: The Ember Run Loop in short
      %p
        by
        -link-to-site href="http://www.peterfessel.com/"
          Peter Fessel

    -note-item time="10:19"
      -github-link username="mitchlloyd" repo="ember-islands"
        -external-title
          Ember Islands
      %p
        by
        -github-link username="mitchlloyd"
          Mitch Lloyd
