@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

/*! purgecss start ignore */
html, body, body > div.ember-view {
  height: 100%;
}

body > div.ember-view {
  display: flex;
  flex-direction: column;
}

.-top-2 {
  top: -0.33rem;
}

.-right-4 {
  right: -1rem;
}

.right-2 {
  right: 0.5rem;
}

.orange-outline:before {
  content: "";
  border: 1px solid #e24c32;
  border-radius: 9999px;
  position: absolute;
  top: -0.30rem;
  bottom: -0.30rem;
  left: -0.30rem;
  right: -0.30rem;
}

/*! purgecss end ignore */
