* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.wrapper {
  padding-left: 250px;
  transition: all 0.5s ease;
  position: relative;
}

.menu {
  h2 {
    margin-left: 10px;
  }
  color: #999999;
  width: 250px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  ul {
    margin: 0;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    width: 250px;
    padding: 0;
    list-style: none;
    li {
      text-indent: 20px;
      line-height: 40px;
      a {
        color: #999999;
        text-decoration: none;
        padding: 10px;
        display: block;
        &:hover {
          text-decoration: none;
          color: #fff;
          background: rgba(255,255,255,0.2);
        }
      }
    }
  }
}

.content {
  padding: 15px;
  position: absolute;
  width: 100%;
}
