%iframe(width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/197270670&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")

%h2 Episode 1 - March 23, 2015
%hr
-note-list
  -note-item
    =twitter-user username="EmberSherpa"
    -link-to-site href="https://www.youtube.com/watch?v=8GMeMM0ukYM"
      Ember.js 1.11 Workshop
  -note-item
    -link-to-site href="https://babeljs.io/docs/learn-es6/"
      Babel: Learn ES6
  -note-item
    -link-to-site href="http://www.codeallday.com"
      Katie Gengler
    ,
    -link-to-site href="http://www.louissimons.com"
      Louis Simons
    , and
    -link-to-site href="http://www.pgengler.net"
      Phil Gengler
    's
    -link-to-site href="http://emberobserver.com"
     Ember Observer
  -note-item
    #{twitter-user username="rondale_sc" displayName="Jonathan Jackson"}'s
    -github-link username="rondale-sc" repo="introductory-ember-resources"
      Introductory Ember Resources
  -note-item
    -github-link username="jgwhite"
      Jamie White
    's talk
    -link-to-site href="https://www.youtube.com/watch?v=xsG0gDkvDPw"
      Growing Ember: One Tomster at a Time
  -note-item
    #{github-link username="code0100fun"}'s
    -github-link username="code0100fun" repo="emberjax-chat"
      EmberJax Chat
