%main#about

  .container

    %h1.ember-weekend Ember Weekend

    %p A week(end)ly podcast about Ember, hosted by Jon and Chase.

    .wrapper
      %dl
        %dt
          %img(src="assets/images/chase-mccarthy.jpg")
          %a(href="https://twitter.com/code0100fun")
            %i.fa.fa-twitter
          %h1 Chase McCarthy
        %dd
          %p Formerly an electronics technician in the Marine Corps, Chase has experience in electronics and circuit design/manufacturing/maintenance, surface mount soldering, and robotics. His software experience ranges from Ruby to Node.js, C/C++, and Objective-C.
      %dl
        %dt
          %img(src="assets/images/jonathan-jackson.jpg")
          %a(href="https://twitter.com/rondale-sc")
            %i.fa.fa-twitter
          %h1 Jonathan Jackson
        %dd
          %p Jonathan spent more time in college building, fixing, and playing on computers than he ever did studying for his erstwhile major of Political Science. In retrospect, he should have realized his true passion was software development much earlier than he did. But eventually (especially after discovering Ruby) Jon fully embraced the way of the nerd.