%main#episode

  .title
    .container
      %a.play(href="#")
        .play-button
          {{fa-icon "fa-play"}}
      %h1 The Weekend Strikes Back
      %p Episode 2 &bull; March 30, 2015

  %ul.sections
    %li
      %a.jump(href="#") 00:15
      .details
        %h1
          %a(href="#")
            Ember.js. 1.11 Workshop
            %i.fa.fa-external-link
        %p
          by
          %a(href="#") Ember Sherpa
    %li
      %a.jump(href="#") 00:30
      .details
        %h1
          %a(href="#")
            Introductory Ember Resources
            %i.fa.fa-angle-up
        %p
          by
          %a(href="#") Jonathan Jackson
        .description
          %h2 Ember Introductory Resources
          %h3 Videos
          %ul
            %li
              %a(href="https://www.youtube.com/watch?v=7O9X5oeAJm4") Introduction to Ember.js (Luke Melia)
    %li
      %a.jump(href="#") 00:30
      .details
        %h1
          %a(href="#")
            EmberJax Chat
            %i.fa.fa-angle-down
        %p
          by
          %a(href="#") Chase McCarthy