<main id="episode">
  <div class="wrapper">
    <div class="title">
      <div class="container">
        <a class="play" href="#">
          <div class="play-button">
            {{fa-icon "fa-play"}}
          </div>
        </a>
        <h1>The Weekend Strikes Back</h1>
        <p>Episode 2 &bull; March 30, 2015</p>
      </div>
    </div>
    <ul class="sections">
      <li class="guest">
        <img src="http://placecage.com/c/175/235">
        <div class="guest_bio">
          <h3>Our Guest this Weekend</h3>
          <h1>
            <a href="http://twitter.com/robdel12">Robert DeLuca</a>
          </h1>
          <p>
            JavaScript Developer at
            <a href="http://frontside.io">The Frontside</a>
          </p>
          <p class="bio">Robert is a JavaScript developer at The Frontside in Austin, Texas. He&rsquo;s a full-time Ember developer and has a personal dedication to accessibility on the web.</p>
        </div>
      </li>
      <li>
        <a class="jump" href="#">00:30</a>
        <div class="details">
          <h1>
            <a href="#">
              Introductory Ember Resources
              <i class="fa fa-angle-up"></i>
            </a>
          </h1>
          <p>
            by
            <a href="#">Jonathan Jackson</a>
          </p>
          <div class="description">
            <h2>Ember Introductory Resources</h2>
            <h3>Videos</h3>
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=7O9X5oeAJm4">Introduction to Ember.js (Luke Melia)</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a class="jump" href="#">00:30</a>
        <div class="details">
          <h1>
            <a href="#">
              EmberJax Chat
              <i class="fa fa-angle-down"></i>
            </a>
          </h1>
          <p>
            by
            <a href="#">Chase McCarthy</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</main>