<main id="home">
  <div class="container">
    <ul class="episodes">
      <li>
        <a class="play" href="#">
          <div class="play-button">
            {{fa-icon "fa-play"}}
          </div>
        </a>
        <a class="details" href="#">
          <h1>Broccoli not the vegetable, it's another veggie and there are many</h1>
          <p>Episode 2 &bull; March 30, 2015</p>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a class="play" href="#">
          <div class="play-button">
            {{fa-icon "fa-play"}}
          </div>
        </a>
        <a class="details" href="#">
          <h1>Our First Foray</h1>
          <p>Episode 2 &bull; March 23, 2015</p>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a class="play" href="#">
          <div class="play-button">
            {{fa-icon "fa-play"}}
          </div>
        </a>
        <a class="details" href="#">
          <h1>The Weekend Strikes Back</h1>
          <p>Episode 2 &bull; March 30, 2015</p>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a class="play" href="#">
          <div class="play-button">
            {{fa-icon "fa-play"}}
          </div>
        </a>
        <a class="details" href="#">
          <h1>Our First Foray</h1>
          <p>Episode 2 &bull; March 23, 2015</p>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
</main>