%header
  .container
    %h1
      -link-to "episodes"
        ember
        %mark weekend
    %nav
      %a(href="/feed.xml" target="_blank")
        {{fa-icon "fa-rss"}}
      -link-to "root.about"
        {{fa-icon "fa-info"}}
      -link-to "root.blog"
        {{fa-icon "fa-book" }}

%main
  =liquid-outlet class="wrapper"

%footer
  =audio-player
