%header
  .container
    %h1
      -link-to "episodes"
        %img(src="assets/images/site-header-logo-emberweekend.svg")
    %nav
      %a(href="/feed.xml" target="_blank" rel="nofollow")
        {{fa-icon "fa-rss"}}
      -link-to "root.about"
        {{fa-icon "fa-info"}}
      -link-to "root.blog"
        {{fa-icon "fa-book" }}

%main
  =liquid-outlet class="wrapper"

%footer
  =audio-player
