%header
  .container
    %h1
      -link-to "root"
        ember
        %mark weekend
    %nav
      %a(href="/feed.xml" target="_blank")
        {{fa-icon "fa-rss"}}
      -link-to "root.about"
        {{fa-icon "fa-info"}}

%main
  .wrapper
    =outlet

%footer
  =audio-player
