#ui
  %header
    .container
      %h1
        %a(href="#")
          ember
          %mark weekend
      %nav
        %a(href="https://itunes.apple.com/us/podcast/ember-weekend/id981719021?mt=2")
          {{fa-icon "fa-rss"}}
        %a(href="about")
          {{fa-icon "fa-info"}}

  %main
    .container
      =outlet

  %footer
    .container
      %audio(id="player" class="play" controls="controls")
      .episode-info
        The Weekend Strikes Back
        %mark March 30, 2015