%iframe(width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/198399121&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")

%h2 Episode 2 - March 30, 2015
%hr
-note-list

  -note-item
    -link-to-site href="http://guides.emberjs.com/v1.11.0/"
      Ember.js Versioned Guides
    %span
      by #{twitter-user username="trek"}

  -note-item
    -link-to-site href="https://gist.github.com/code0100fun/6f87155564ccf3724749"
      Custom QUnit Assertions

  -note-item
    -github-link username="samselikoff" repo="ember-cli-mirage"
      EmberCLI Mirage
    %span
      by
      -github-link username="samselikoff"
        Sam Selikoff

  -note-item
    -link-to-site href="https://gist.github.com/code0100fun/f5922b6f44eee2abc21d"
      Testing a Component with an Optional Block

  -note-item
    -github-link username="kategengler" repo="ember-try"
      Ember Try
    %span
      by
      -github-link username="kategengler"
        Katie Gengler

  -note-item
    -link-to-site href="http://reefpoints.dockyard.com/2015/03/24/rubyists-guide-to-ember-dependencies.html"
      Rubyist Guide To Ember Dependencies
    %span
      by #{twitter-user username="michaeldupuisjr"}

